---

name: Build and publish on GitHub

on:
  workflow_call:
    inputs:
      python-version:
        description: "The Python version used during the build"
        default: "3.12"
        required: false
        type: string

jobs:
  build:
    name: Build Python package
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}

      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: uv build

      - name: Store the distribution packages
        uses: actions/upload-artifact@v5
        with:
          name: python-package-distributions
          path: dist/

  publish-github:
    name: Publish on GitHub
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    needs:
      - build
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Download the distribution packages
        uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

      - name: Sign distribution packages
        uses: sigstore/gh-action-sigstore-python@v3.1.0
        with:
          inputs: ./dist/*.tar.gz ./dist/*.whl
          upload-signing-artifacts: true
          release-signing-artifacts: false

      - name: Create GitHub release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release create
          "${{ github.ref_name }}"
          --repo "${{ github.repository }}"
          --title "Release ${{ github.ref_name }}"
          --notes "see CHANGLOG.md"
          --latest

      - name: Upload artifacts and signatures to GitHub release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release upload
          "${{ github.ref_name }}" dist/**
          --repo "${{ github.repository }}"
