---

name: Open release PR

on:
  workflow_call:
    secrets:
      personal-access-token:
        required: true
    inputs:
      changelog-since-tag:
        description: "The tag from which the changelog generation should start"
        required: true
        type: string

jobs:
  open-release-pr:
    name: Release pull request
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.personal-access-token }}"
          fetch-depth: 0
          fetch-tags: true

      - name: Get next version
        uses: MiguelRipoll23/get-next-version@v3.0.0
        id: get-next-version
        with:
          major-labels: backwards-incompatible,breaking,removal
          minor-labels: feature,enhancement,improvement
          patch-labels: bug

      - name: Update version in repository
        run: echo "${{ env.NEXT_VERSION }}" | grep -oE '([0-9]{1,}.[0-9]{1,}.[0-9]{1,})?' > version
        env:
          NEXT_VERSION: ${{ steps.get-next-version.outputs.next-version }}

      - name: Generate release changelog
        uses: janheinrichmerker/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sinceTag: ${{ inputs.changelog-since-tag }}
          futureRelease: ${{ steps.get-next-version.outputs.next-version }}
          breakingLabels: backwards-incompatible,breaking
          removedLabels: removal
          enhancementLabels: feature,enhancement,improvement,infrastructure
          bugLabels: bug
          excludeLabels: skip-changelog
          output: CHANGELOG.md
          usernamesAsGithubLogins: true
          stripGeneratorNotice: true

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: release-${{ steps.get-next-version.outputs.next-version }}
          commit-message: release ${{ steps.get-next-version.outputs.next-version }}
          title: Release ${{ steps.get-next-version.outputs.next-version }}
          body: Automated pull request triggered by a new release.
          labels: skip-changelog
          token: "${{ secrets.personal-access-token }}"
          draft: true
