---

name: Sync labels

on:
  workflow_call:
    inputs:
      delete-other-labels:
        description: "Delete labels not set up in our config file?"
        default: true
        required: false
        type: boolean

jobs:
  sync:
    name: Sync labels from config
    runs-on: ubuntu-24.04
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: EndBug/label-sync@v2
        with:
          config-file: 'https://raw.githubusercontent.com/RegioHelden/.github/refs/heads/main/labels.yaml'
          delete-other-labels: ${{ inputs.delete-other-labels }}
